/* Dark mode styles */
body.dark {
  /* background-color: #222; */
  color: white;
  /* background: linear-gradient(135deg, #6e45e2, #88d3ce); */
  background: linear-gradient(135deg, #180058, #000000);
  
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  #addInput {
    background-color: #180058;
    color: rgba(255, 255, 255, 0.979);
  }
  .lists {
    background-color: #180058;
    color: rgba(255, 255, 255, 0.925);
  }
  .lists:hover{
    background-color: #49308f;
  }
 .slider{
  background-color:  #000000;
 }
  #submit{
    background: linear-gradient(180deg, #4300fa, #110169);
  }
}

/* Switch Button CSS */
.theme-switch {
  position: absolute;
  top: 15px;
  right: 20px;
  display: inline-block;
  width: 100px;
  height: 50px;
  padding-bottom: 10px;

}

.theme-switch input {
  display: none;
}

.slider {
  width: 100%;
  height: 100%;
  /* background: #000000; */
    background: linear-gradient(135deg, #180058, #000000);

  border-radius: 25px;
  cursor: pointer;
  position: relative;
  padding: 10px;
  line-height: 5px;
  display: flex;
}


.slider::before {
  content: "";
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
  position: absolute;

  left: 10px;
  top: 2.5px;
  transition: 0.3s;
}

/* When dark mode active */
input:checked + .slider {
  background: linear-gradient(135deg, #6e45e2, #88d3ce);
}

input:checked + .slider::before {
  transform: translateX(50px);
 

}
